* {
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    --old-lavender: #7d6f86ff;
    --cyan-process: #5bc0ebff;
    --key-lime: #ddf093ff;
    --flame: #e55934ff;
    --pumpkin: #fa7921ff;
}

h1 {
    color: aliceblue;
    background-color: var(--old-lavender);
}

#main-header {
    color: var(--key-lime);
    width: 300px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.big-text {
    font-size: 46px;
    font-weight: 800;

}

.subtitle-header {
    color: green;
    background-color: yellow;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}




.default-background {
    background: rgb(13, 226, 196);
    background: linear-gradient(124deg, rgba(13, 226, 196, 1) 0%, rgba(0, 174, 255, 0.427608543417367) 100%);
}

li {
    background-color: var(--flame);
    margin-bottom: 0.2rem;
    color: var(--key-lime);
    padding-left: 0.1rem;
}

#to-do li {
    background-color: aqua;
    color: black;
}

.current-task {
    background-color: red;
    color: wheat;
}

.current-task+li {
    background-color: yellow;
    color: #5bc0ebff;
}

h2,
h4,
h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

h6 {
    color: rebeccapurple;
}

a {
    text-decoration: none;
    color: yellow;
}

a[href*="iron"] {
    color: green;
}